<!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <!--From CDN //-->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="application/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <!-- The wrapper //-->
    <script type="application/javascript" src="../angular-bswrapper.js"></script>
    <!-- The script of this page. //-->
    <script type="application/javascript" src="scripts/app.js"></script>
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <title>Angular Bootstrap Wrapper Example</title>
</head>
<body ng-controller="exampleControl">
    <bs-jumbotron>
        <bs-container>
            <h1>Hello World!</h1>
            <p>in jumbotron</p>
        </bs-container>
    </bs-jumbotron>
    <h1>Modal Dialog</h1>
    <bs-button type="primary" size="large" id="attributeModal" toggle="modal" target="#exampleModal">Modal (Attribute trigger)</bs-button>
    <bs-button type="primary" size="large" id="controlModal" toggle="modal">Modal (JS trigger)</bs-button>
    <bs-button type="primary" size="large" id="modalWithButtonDisableButton" toggle="modal" target="#modalWithButtonDisable">Modal with button Disabled</bs-button>
    <bs-modal title="HelloWorld" id="exampleModal" backdrop="static">Hello World!!</bs-modal>
    <bs-modal title="Modal with Disable Buttons"
              id="modalWithButtonDisable"
              yes="Yes!"
              no="No!"
              cancel="cancel"
              yes-disabled="disabled.yes"
              no-disabled="disabled.no"
              cancel-disabled="disabled.cancel">
              <h5>State Edit</h5>
              <div class="form-group">
                  <label><input type="checkbox" ng-model="disabled.yes" id="yedDisabled" /> Disable Yes! button</label>
              </div>
              <div class="form-group">
                  <label><input type="checkbox" ng-model="disabled.no" id="noDisabled" /> Disable No! button</label>
              </div>
              <div class="form-group">
                  <label> <input type="checkbox" ng-model="disabled.cancel" id="cancelDisabled" /> Disable Cancel! button</label>
              </div>
              <h5>State View</h5>
              <table>
                  <tr>
                      <td>YesDisabled</td>
                      <td>{{disabled.yes}}</td>
                  </tr>
                  <tr>
                      <td>NoDisabled</td>
                      <td>{{disabled.no}}</td>
                  </tr>
                  <tr>
                      <td>CancelDisabled</td>
                      <td>{{disabled.cancel}}</td>
                  </tr>
              </table>
    </bs-modal>
    
    <h1>Tab</h1>
    <bs-tab>
        <bs-tab-pane id="test1" title="Test 1" active="true"><h4>Test 1</h4><p>Test 1</p></bs-tab-pane>
        <bs-tab-pane id="test2" title="Test 2"><h4>Test 2</h4><p>Test 2</p></bs-tab-pane>
        <bs-tab-pane id="test3" title="Test 3"><h4>Test 3</h4><p>Test 3</p></bs-tab-pane>
    </bs-tab>
</body>
</html>